body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #efe1f3;
}

.container {
  max-width: 800px;
  width: 100%;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

fieldset {
  background: #efe1f3;
}

h1,
p {
  color: #2d034c;
}

form {
  margin-bottom: 20px;
}

fieldset {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 10px;
}

.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: 900;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

legend {
  font-weight: bold;
  color: #2d034c;
}

label {
  display: block;
  margin-bottom: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #3a0560;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: #3a0560;
  color: #efe1f3;
}

p {
  font-family: "Lato", sans-serif;
  font-style: normal;
}

button:hover {
  background-color: #0056b3;
}

.hidden {
  display: none;
}

#resume-output {
  margin-top: 20px;
}
